{erl_opts, [
    debug_info,
    % {parse_transform, lager_transform},
    {i, "./apps/game_protobuf/include/proto_dir"}
  ]}.

{minimum_otp_vsn, "20.2"}.

{shell, [
    {apps, [game_server]},
    {config, "./config/sys.config"}
]}.

{deps, [
    {cowboy, {git,"https://github.com/ninenines/cowboy",{tag, "2.4.0"}}},
    {gproc, {git,"https://github.com/uwiger/gproc",{tag, "0.7.0"}}},
    {poolboy, {git,"https://github.com/devinus/poolboy",{tag, "1.5.1"}}},
    {jsx, {git,"https://github.com/talentdeficit/jsx",{tag, "2.9.0"}}},
    % {lager, {git,"https://github.com/erlang-lager/lager",{tag, "3.6.2"}}},
    {recen, {git,"https://github.com/ferd/recon",{tag, "2.3.5"}}}
]}.

{dist_node, [
    {setcookie, 'game_server_cookie'},
    {name, 'game_server@127.0.0.1'}
]}.

{relx, [{release, { game_server, "0.1.0" },
         [game_server,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
