{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    {i, "./apps/game_protobuf/include/proto_dir"}
  ]}.

{minimum_otp_vsn, "20.2"}.

{shell, [
    {apps, [game_server]},
    {config, "./config/sys.config"}
]}.

{src_dirs, ["src", "src/*"]}.

{deps, [
    {cowboy, {git,"https://github.com/ninenines/cowboy",{tag, "2.5.0"}}},
    {gproc, {git,"https://github.com/uwiger/gproc",{tag, "0.8.0"}}},
    {poolboy, {git,"https://github.com/devinus/poolboy",{tag, "1.5.2"}}},
    {jsx, {git,"https://github.com/talentdeficit/jsx",{tag, "2.9.0"}}},
    {lager, {git,"https://github.com/erlang-lager/lager",{tag, "3.6.7"}}},
    {recen, {git,"https://github.com/ferd/recon",{tag, "2.3.6"}}}
]}.

{dist_node, [
    {setcookie, 'game_server_cookie'},
    {name, 'game_server@127.0.0.1'}
]}.

{relx, [{release, { game_server, "0.1.0" },
         [
            sasl,
            mnesia,
            game_protobuf,
            game_server
        ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {overlay, [
            {mkdir, "mnesia_db_data"}
        ]},

        {extended_start_script, true}]
}.

{profiles, [
            {prod, [{relx, [
                            {dev_mode, false},
                            {include_src, false},
                            {include_erts, true},
                            {system_libs, true}
                            ]
                        }
                    ]},
            {native, [
                    {erl_opts, [{native, o3}]}
                ]}
            ]
}
.
