{erl_opts, [
    debug_info,
    {i, "./apps/game_protobuf/include/proto_dir"}
  ]}.
{deps, [
    {cowboy, {git,"https://github.com/Naupio/cowboy",{branch, "master"}}}
]}.

{relx, [{release, { game_server, "0.1.0" },
         [game_server,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
