{erl_opts, [
    debug_info,
    {i, "./_build/default/plugins/gpb/include"}

]}.

{deps, []}.

{src_dirs, ["src", "src/*"]}.

{plugins, [
    {pb_msgcodegen, {git, "https://github.com/Naupio/pb_msgcodegen", {tag, "0.1.0"}}},
    {rebar3_gpb_plugin, "2.12.1"}
]}.

{gpb_opts, [
    {i, "priv/protobuf/"},
    {module_name_suffix, "_pb"},
    % {o, "path/to/out_dir"},    %% both .erl and .hrl are generated here
    {o_erl, "src/game_protobuf"},
    {o_hrl, "include/"},
    {strings_as_binaries, true},
    type_specs,
    {packed, true}
]}.

{provider_hooks,
    [{pre, [
        {compile, pb_msgcodegen},
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
        ]}
    ]}.