{erl_opts, [
    debug_info,
    {i, "./_build/default/plugins/gpb/include"}

]}.

{plugins, [
    {game_pb_msgcodegen, {git, "https://github.com/Naupio/game_pb_msgcodegen.git", {branch, "master"}}},
    {rebar3_gpb_plugin, {git, "https://github.com/lrascao/rebar3_gpb_plugin.git", {tag, "2.2.4"}}}
]}.

{gpb_opts, [
    {i, "priv/proto_dir"},
    {module_name_suffix, "_pb"},
    % {o, "path/to/out_dir"},    %% both .erl and .hrl are generated here
    {o_erl, "src/proto_dir"},
    {o_hrl, "include/proto_dir"},
    {strings_as_binaries, true},
    type_specs,
    {packed, true}
]}.

{provider_hooks,
    [{pre, [
        {compile, game_pb_msgcodegen},
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
        ]}
    ]}.
{deps, []}.