{erl_opts, [
    debug_info,
    {i, "./_build/default/plugins/gpb/include"}

]}.

{deps, []}.

{plugins, [
    {pb_msgcodegen, {git, "https://github.com/Naupio/pb_msgcodegen", {tag, "0.1.0"}}},
    {rebar3_gpb_plugin, {git, "https://github.com/lrascao/rebar3_gpb_plugin", {tag, "2.8.2"}}}
]}.

{gpb_opts, [
    {i, "priv/"},
    {module_name_suffix, "_pb"},
    % {o, "path/to/out_dir"},    %% both .erl and .hrl are generated here
    {o_erl, "src/"},
    {o_hrl, "include/"},
    {strings_as_binaries, true},
    type_specs,
    {packed, true}
]}.

{provider_hooks,
    [{pre, [
        {compile, pb_msgcodegen},
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
        ]}
    ]}.